<!doctype html>
<!--[if lt IE 7]><html lang="en-EN" class="ie ie6 ltie9 ltie8 ltie7"><![endif]-->
<!--[if IE 7]><html lang="en-EN" class="ie ie7 ltie9 ltie8"><![endif]-->
<!--[if IE 8]><html lang="en-EN" class="ie ie8 ltie9"><![endif]-->
<!--[if IE 9]><html lang="en-EN" class="ie ie9"><![endif]-->
<!--[if gt IE 9]><html lang="en-EN" class="ie"><![endif]-->
<!--[if !IE]><!-->
<html lang="en-EN">
<!--<![endif]-->
<head>
<!--[if IE]><![endif]-->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <![endif]-->

<title>JeffSaracco.com</title>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "styles" %>
<%= yield_content :styles %>

<%= javascript_include_tag  "main" %>
<%= yield_content :js %>
</head>
<body>
<div class='background'>
  <div class='image'></div>
</div>
<script>
jQuery('body:not(.js)').addClass('js');
</script>

<div id="wrapper">
  <div class="content">
    <%= yield %>
  </div>
</div>
</body>
</html>
